'.source.js':
    'angular-controller':
        'prefix': 'ng-ctrl'
        'body': """
            (function(){

                'use strict';

                angular
                    .module('$1')
                    .controller('${2:MyController}', $2);

                    $2.$inject = [];

                    function $2() {

                        vm = this;

                    }

            })();
        """

    'angular-module':
        'prefix': 'ng-mod'
        'body': """
            (function(){

                'use strict';

                angular
                    .module('$1');

            })();
        """

    'angular-filter':
        'prefix': 'ng-fil'
        'body': """
            (function(){

                'use strict';

                angular
                    .module('app')
                    .filter('${1:myFilter}', $1);

                function $1() {

                    return function(items) {

                        return items.filter(function(item) {
                            return item;
                        });

                    };
                }

            })();
        """


    'angular-directive':
        'prefix': 'ng-dir'
        'body': """
            (function(){

                'use strict';

                angular
                    .module('app')
                    .directive('${1:myDirective}', $1);

                $1.$inject = [];

                function $1() {
                    return {
                        restrict: '',
                        templateUrl: '',
                        scope: {},
                        controller: function($scope, $element, $attrs){

                        }
                    }
                }

            })();
        """
