'.source.js':
  'angular-controller':
    'prefix': 'ng-ctrl'
    'body': """
        (function(){

            'use strict';

            angular
                .module('app')
                .controller('AppController', AppController);

            AppController.$inject = [];

            function AppController() {

                vm = this;

            }

        })();
    """
    
  'angular-module':
    'prefix': 'ng-mod'
    'body': """
        (function(){

            'use strict';

            angular
                .module('app');

        })();
    """
